html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.comp-image {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background: black;
}

.nav-name-text {
    /* border: 3px solid red; */
    font-size: 16px;
}

.nav {
    /* border: 3px solid blue; */
    font-size: 18px;
    float: right;
}

.top-bar {
    background: rgba(0, 0, 255, 0.7);
    padding: 0 20px;
}

.top-bar .title-text, .top-bar .nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    padding-left: 50px;
}

.comp-image {
    background-image: url(../images/computer-plain.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.welcome-message {
    text-align: center;
    font-size: 32px;
    /* border: 3px solid red; */
    margin-top: 100px;
    text-shadow: 2px 2px 2px #1C6EA4;
}

.secondary-text {
    font-size: 24px;
    font-style: italic;
}